<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some Web Site</title>
</head>

<body>
  {{>header}} {{!-- cspell:disable --}}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus a magnam consequuntur aliquid deserunt aut aspernatur
    debitis, sunt ducimus at voluptatibus eos commodi ipsa sapiente consequatur numquam. Accusantium, fugit ad!</p>
  {{!-- cspell:enable --}} {{>footer}}

</body>

</html>
