<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OH NO!</title>
</head>

<body>
  <h1>OH SHIT!!!!! WE ARE UNDER MAINTENANCE!!!</h1>
  {{!-- cspell:disable --}}
  <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe culpa sed, reiciendis omnis placeat deleniti
    enim in. Eum cum modi ex repellendus, iure labore laboriosam sit aperiam tempora ullam?</P>
  {{!-- cspell:enable --}} {{>footer}}
</body>

</html>
